/* Common CSS Properties */
:root {
	/* Chrome Inspired Theme*/
	--bg-color: #303030; /* Chrome UI background color */
	--text-color: #ffffff; /* Chrome UI text color */
	--control-bg: #3a3a3a; /* Slightly Lighter background color */
	--button-bg-color: #0079d3; /* Chrome highlight color */
	--button-color: #ffffff; /* Button text color */
	--button-hover: #4a90e2; /* Hover effect */
	--button-disabled-bg-color: #6d6d6d; /* Disabled button background color */
	--button-disabled-color: #949494; /* Disabled button text color */
	--border-color: #0079d3; /* Chrome highlight color */
	--loader-color: #0079d3; /* Loader color */
	--drop-shadow-color: #0079d3; /* Drop shadow color */
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: Arial, sans-serif;
}

#controls {
	background-color: var(--control-bg);
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

#logo img {
	width: 50px;
	height: 50px;
	filter: drop-shadow(0 0 5px var(--drop-shadow-color));
}

#logo span {
	font-size: 24px;
	font-weight: bold;
}

#output {
	padding: 15px;
}

button {
	background-color: var(--button-bg-color);
	color: var(--button-color);
	border: none;
	padding: 10px 20px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: var(--button-hover);
}

button:disabled {
	background-color: var(--button-disabled-bg-color);
	color: var(--button-disabled-color);
	cursor: not-allowed;
}

.hidden {
	display: none;
}

#loader {
	border: 5px solid var(--bg-color);
	border-top: 5px solid var(--loader-color);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spin 1s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

#clipboard {
	text-wrap: nowrap;
}

#result > img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: contain;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
